.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .login-heading {
    font-weight: 400;
    margin-top: 32px;
    color: var(--primary);
  }

  @media screen and (min-width:768px) {
    .login-heading {
        display: none;
    }
  }
  
  .login-form {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border: 2px solid var(--light4);
    border-radius: 5px;
  }
  
  @media screen and (min-width: 768px) {
    .login-form {
      padding: 16px 28px;
      border-radius: 22px;
    }
  }
  
  .form-span-text {
    font-size: 16px;
    font-weight: normal;
    color: var(--black);
    text-decoration: none;
  }

  .signin-text {
    font-size: 18px;
    font-weight: 500;
    }
  
  @media screen and (min-width: 768px) {
    .form-span-text {
      display: none;
      color: var(--black);
      text-decoration: none;
    }
  
    .signin-text {
      font-size: 32px;
      font-weight: 400;
      margin: 12px 0;
      }
  }
  
  .input-bar {
    height: 36px;
    border-radius: 6px;
    border: 1.2px solid var(--light1);
    margin-top: 8px;
    margin-bottom: 13.23px;
    padding: 0 12px;
    font-size: 18px;
  }
  
  @media screen and (min-width: 768px) {
    .input-bar {
      height: 52px;
      margin-top: 10px;
      margin-bottom: 16px;
    }
  }
  
  .login-new-to-merchant {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-new-to-musicart-text {
    text-align: center;
    min-width: 120px;
    font-size: 11px;
    font-weight: 400;
    line-height: 12.74px;
    padding: 0 12px;
  }
  
  .hr-container {
    width: 100%;
  }
  
  hr {
    width: 100%;
    border: 1px solid var(--light2);
    background-color: var(--light2);
  }
  
  .create-acc-button {
    width: 100%;
    height: 42px;
    font-size: 16px;
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--light2);
    border-radius: 6px;
    margin: 24px 0px;
  }